!!! 5
%html
  %head
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")

#header
  %img{ :src => "CMM_Logo_800.png", :width => "30%"}
  %h2 Team Directory

#member
  %img{ :src => "JenniferC.jpg", :height => 128, :width => "128"}
