!!! 5
%html
  %head
    %title Dev Team Directory
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")

    #header
      %img{ :src => "CMM_Logo_800.png", :width => "30%"}
      %h1 Development Team Directory

    #nav
      %ol
        %a(href="/")
          %li Home
        %a(href="members")
          %li Members

  %body
    #wrapper

      #content
        =yield

      #footer
        %p
          Copyright © 2015 CoverMyMeds LLC. All Rights Reserved
