!!! 5
%html
  %head
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")

  %body
  #wrapper
    #nav
      %ol
        %a(href="/")
          %li Home
        %a(href="members")
          %li Members
