%h2= @members.count

- @members.each do | member |

  #member
    %img{ :src => "JenniferC.jpg", :height => 128, :width => "128"}

  #content
    %h2 Name:
    %p= member.name
    %h2 Title:
    %p Software Test Technician
    %h2 Location:
    %p Columbus
    %h2 Vertical:
    %p Physician
    %h2 Bio:
    %p Six months as Software Test Engineer Intern at CMM. Prior experience as a graphic designer in newspaper industry before changing careers to web development.
