#wrapper{
    width:66%;
    margin:auto;
}

#header{
    background-color:#ade;
    margin: 5px;
    padding: 5px;
}


h1{
    font-size:150%;
    font-family:verdana;
    font-weight: bold;
    color:#F59222;
    text-align:center;
}

h2{
    font-size: 100%;
    font-family:verdana;
    color:#E0004D;
    text-align:left;
}

#member{
  border: solid;
  border-width: 1pt;
  margin: 5px;
}

#content{
    margin:12px 0;
    float:left;
    padding: 5px;
}

ol{
    padding-top:20px;
    background-color:#ade;
    display:block;
}

li{
    color:white;
    text-align:center;
    display:inline;
    padding:5px 10px 0 10px;
    margin-right:2px;
    background-color: #69a;
}

a{
    text-decoration:none;
}
